<div class="contact">
    <div class=" container">

        <h1 class=" text-center fw-bold m-4 mb-3">CONTACT SECTION</h1>

        <div class=" d-flex ">
            <div class="div ms-auto mt-2"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="div me-auto mt-2"></div>
        </div>

        <div class=" text-start">
            <label class=" p-2" for="floatingInput">userName:</label>
            <input type="text" class="form-control m-2 border-0 shadow-sm p-2 mx-auto w-50" id="floatingInput" placeholder="userName">

            <label class=" p-2" for="floatingInput">userAge:</label>
            <input type="number" class="form-control m-2 border-0 shadow-sm p-2 mx-auto w-50" id="floatingInput" placeholder="userAge">

            <label class=" p-2" for="floatingInput">userEmail:</label>
            <input type="email" class="form-control m-2 border-0 shadow-sm p-2 mx-auto w-50" id="floatingInput" placeholder="userEmail">

            <label class=" p-2" for="floatingPassword">userPassword:</label>
            <input type="password" class="form-control m-2 border-0 shadow-sm p-2 mx-auto w-50" id="floatingPassword" placeholder="userPassword">
        </div>

        <button class="button mt-4" routerLink="/home">Send Message</button>
    </div>
</div>
