<div class=" bg-color">
    <div class=" container">
        <div class=" row text-center">
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
    
            <div class=" col-lg-4 col-md-6 col-sm-12">
            <h2 class=" me-4">AROUND THE WEB</h2>
                <div class=" d-flex text-center">
                    <i class=" icon ms-auto 5 m-2 mt-4 fa-brands fa-facebook"></i>
                    <i class=" icon m-2 mt-4 fa-brands fa-twitter"></i>
                    <i class=" icon m-2 mt-4 fa-brands fa-linkedin-in"></i>
                    <i class=" icon m-2 mt-4 me-auto fa-solid fa-globe"></i>
                </div>
            </div>
    
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <p>Copyright © Your Website 2025</p>
</div>

