<nav
    class="navbar navbar-expand-md navbar-dark bg-color"
>
    <div class="container">
        <a class="navbar-brand  m-3 fs-2 fw-bold" routerLink="/home">START FRAMEWORK</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 me-5 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link m-3 fs-6 fw-semibold text-white" routerLink="/about" routerLinkActive="ACTIVE">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-3 fs-6 fw-semibold text-white" routerLink="/portfolio" routerLinkActive="ACTIVE">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-3 fs-6 fw-semibold text-white" routerLink="/contact" routerLinkActive="ACTIVE">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


